# Core  fine-tuning dependencies
trl
peft
accelerate
bitsandbytes
datasets
huggingface_hub
torch
transformers
[windows] @ git+https://github.com/ai/.git

# Backend web server dependencies
uvicorn[standard]
fastapi
pydantic
python-multipart
aiofiles
pyarrow